<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Imya.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Imya.UI.Properties.Settings>
            <setting name="ModDirectoryName" serializeAs="String">
                <value>mods</value>
            </setting>
            <setting name="LanguageFilePath" serializeAs="String">
                <value>resources/texts.json</value>
            </setting>
            <setting name="MinWindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="MinWindowHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="GameRootPath" serializeAs="String">
                <value>C:/Program Files (x86)/Ubisoft/Ubisoft Game Launcher/games/Anno 1800</value>
            </setting>
            <setting name="DownloadDir" serializeAs="String">
                <value>imya_tmp</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="ModCreatorMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConsoleVisibility" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DevMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>DarkGreen</value>
            </setting>
            <setting name="ModindexLocation" serializeAs="String">
                <value>https://raw.githubusercontent.com/anno-mods/Packages/main/packages.json</value>
            </setting>
            <setting name="ModloaderEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadRateLimit" serializeAs="String">
                <value>1048576</value>
            </setting>
            <setting name="UseRatelimit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sorting" serializeAs="String">
                <value>Default</value>
            </setting>
        </Imya.UI.Properties.Settings>
    </userSettings>
</configuration>