on:
  push:
    tags:
      - 'v*'

name: Create Release

jobs:
  deploy:
    if: startsWith(github.ref, 'refs/tags/v')
    name: Create Release
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            Changes in this Release
          draft: true
          prerelease: true
          
      - name: Download a Build Artifact
        uses: dawidd6/action-download-artifact@v2
        with:
            # Artifact name
          workflow: main.yml
          workflow_conclusion: success
          
      - name: Upload iModYourAnno
        id: upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./iMYA/iModYourAnno.zip
          asset_name: iModYourAnno.zip
          asset_content_type: application/zip
